<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
        <img src="./logo.svg" alt="">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            Our Hotel
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            Rooms & Rates
                        </a>                        
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            Facilities
                        </a>                        
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            Contact Us
                        </a>                        
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="title">
            <div class="rooms-rates">
                <h2>
                    Rooms & Rates
                </h2>
            </div>
        </section>
        <section class="hotel-rooms">
            <div class="newscard">
                <div class="card-1">
                    <img src="card1.png" alt="">
                    <div class="twin-room">
                        <h3>Standard Twin Room</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis urna id arcu mattis porttitor laoreet at eros.
                        </p>                        
                        <a href="#" class="button">
                            Check Rates
                        </a>
                    </div>
                </div>
                <div class="card-1">
                    <img src="card2.png" alt="">
                    <div class="twin-room">
                        <h3>Standard Room</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis urna id arcu mattis porttitor laoreet at eros.
                        </p>                        
                        <a href="#" class="button">
                            Check Rates
                        </a>
                    </div>
                </div>
                <div class="card-1">
                    <img src="card3.png" alt="">
                    <div class="twin-room">
                        <h3>Standard Room</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis urna id arcu mattis porttitor laoreet at eros.
                        </p>                        
                        <a href="#" class="button">
                            Check Rates
                        </a>
                    </div>
                </div>
                <div class="card-1">
                    <img src="card4.png" alt="">
                    <div class="twin-room">
                        <h3>Standard Room</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis urna id arcu mattis porttitor laoreet at eros.
                        </p>                        
                        <a href="#" class="button">
                            Check Rates
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery"> 
            <h2>
                Gallery
            </h2>
            <div class="gallery-1">
                <img src="gallery1.png" alt="">
                <img src="gallery2.png" alt="">
                <img src="gallery3.png" alt="">
                <img src="gallery4.png" alt="">
            </div>
        </section>
        <section class="Photos from customers"> 
            <h2>
                Photos from customers
            </h2>
            <div class="gallery-1">
                <img src="gallery1.png" alt="">
                <img src="gallery2.png" alt="">
                <img src="gallery3.png" alt="">
                <img src="gallery4.png" alt="">
            </div>
        </section>
    </main>
    <footer>
        <div class="conteiner">
            <div class="content">
                <img src="footer.svg" alt="">
                <nav class="footer-navigation">
                    <a href="#">
                        Our Hotels
                    </a>
                    <a href="#">
                        Our Conferencing
                    </a>
                    <a href="#">
                        Our Company
                    </a>
                    <a href="#">
                        Hotel Design
                    </a>
                    <a href="#">
                        Careers
                    </a>
                </nav>
                <div class="mail">
                    <p>
                        Bon Hotels Head Office
                    </p>
                    <a href="#">
                        +27 434 344 432
                    </a>
                    <a href="#">
                        info@bonhotels.com
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>